# node_modules/
# dist/
# allure-results/
# allure-report/
# playwright-report/
# test-results/
# screenshots/
# videos/
# *.log
# .DS_Store
# .env
# .env.local
# package-lock.json
# pnpm-lock.yaml
# yarn.lock







# Node
node_modules/
dist/

# Playwright
playwright-report/
test-results/
allure-results/
allure-report/
screenshots/
videos/
trace.zip

# Auth session
auth/
auth/*.json

# Logs
*.log

# Env
.env
.env.local

# OS
.DS_Store

# Lock files (chọn 1, không commit)
package-lock.json
pnpm-lock.yaml
yarn.lock
